{
  "extends": ["eslint:recommended", "google"],
  "parserOptions": {
    "ecmaVersion": 9
  },
  "env": {
    "node": true,
    "jest": true
  },
  "plugins": [],
  "settings": {},
  "rules": {
    "array-callback-return": "error",
    "arrow-spacing": "error",
    "curly": ["error", "all"],
    "default-case": "error",
    "eol-last": ["error", "always"],
    "eqeqeq": "error",
    "indent": ["error", 2, { "MemberExpression": 1, "SwitchCase": 1 }],
    "key-spacing": ["error", { "beforeColon": true }],
    "keyword-spacing": ["error", { "before": true }],
    "max-len": ["error", 200, { "ignoreComments": true }],
    "new-cap": "error",
    "no-alert": "error",
    "no-await-in-loop": "error",
    "no-console": "error",
    "no-div-regex": "error",
    "no-empty-function": "error",
    "no-eval": "error",
    "no-extra-label": "error",
    "no-floating-decimal": "error",
    "no-global-assign": "error",
    "no-implied-eval": "error",
    "no-iterator": "error",
    "no-label-var": "error",
    "no-labels": ["error", { "allowLoop": true }],
    "no-loop-func": "error",
    "no-magic-numbers": ["warn", { "ignore": [-1, 0, 1, 2] }],
    "no-multi-spaces": "error",
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "no-param-reassign": "error",
    "no-proto": "error",
    "no-return-assign": "error",
    "no-self-compare": "error",
    "no-shadow-restricted-names": "error",
    "no-template-curly-in-string": "error",
    "no-trailing-spaces": "error",
    "no-unmodified-loop-condition": "error",
    "no-unsafe-negation": "error",
    "no-unused-expressions": "error",
    "no-unused-labels": "error",
    "no-unused-vars": ["error", { "args": "after-used", "varsIgnorePattern": "next" }],
    "no-useless-catch": "error",
    "no-useless-computed-key": "error",
    "no-useless-concat": "error",
    "no-with": "error",
    "object-curly-spacing": ["error", "always"],
    "operator-linebreak": ["error", "before", { "overrides": { "=": "after" } }],
    "prefer-const": "error",
    "prefer-promise-reject-errors": "error",
    "prefer-template": "error",
    "require-await": "error",
    "require-jsdoc": "off",
    "space-infix-ops": ["error", { "int32Hint": false }],
    "space-in-parens": "off",
    "valid-jsdoc": "off"
  },
  "globals": {
    "Promise": true,
    "Map": true,
    "Set": true
  }
}
